/*Selector Universal*/
* {
    padding: 0;
    margin: 0;
    
}

/*Selector id*/
#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    max-width: 1em auto;
    
}

#cabecera {
    height: 15%;
    background-color: darkgreen;
    margin: 0em auto;
}

#barraDeNavegacion {
    height: 5%;
    background-color: darkgreen;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#contenido {
    margin-top: 0em;
    height: 70%;
    width: 96%;
    
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
   
    float: left;

}


#pieDeNavegacion {
    height: 10%;
    background-color: rgb(201, 24, 24);
    border-radius: 0em;
    margin: 0em;
    width: 900px;
    color: white;
    text-align: center;

}
.texto {
    text-align: justify;
    font-family: Tahoma;
    font-size: 1.2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    
}

.encabezado_articulo {
    text-align: center;
    color: black;
    margin: auto 2em;
    font-size: 2em;
    font-family: Tahoma;

}
.cabecera{
    text-align: center;
    
    color: white;
    margin: auto 2em;
}

.imagenes {
    display: inline;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    border-radius: 1px;
    padding: 1px;
    width: 100px;
    height: 100px;
    background-color: beige;
    margin-left: 5px;
    margin-right: 5px;
    
    
}
/*Selector de etiqueta html*/

ul{
text-align: center;
display: inline;

}
li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    
}